/* ==========================================================================
   #DOCS-TOOLBAR
   ========================================================================== */

.c-docs-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.c-docs-toolbar .c-btn:not(:last-child) {
  margin-right: $global-spacing-unit-small;
}

@include mq($from: desktop) {
  .c-docs-toolbar {
    position: fixed;
    right: 0;
    top: 0;
  }
}

@include mq($until: desktop) {
  .c-docs-toolbar {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
  }
}
