///* ========================================================================
//   #COLORS
//   ======================================================================== */

$color-white: #fff !default;
$color-gray-10: #f4f7fa !default;
$color-gray-40: #b9c3d5 !default;
$color-gray-80: #818b9d !default;
$color-gray-90: #222 !default;

$color-primary: #3488fa !default;
$color-text: $color-gray-90 !default;
$color-border: $color-gray-40 !default;

$color-danger: darkred;
$color-success: darkgreen;
